@model IEnumerable<challenge_integraComex_matiasOnores.Models.Cliente>

@{
    ViewBag.Title = "CRUD Clientes";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<h2>INTEGRACOMEX - CLIENTES</h2>

<p>
    <button id="btnCrear" type="button" class="btn btn-outline-success">Crear</button>

</p>
<table class="table table-hover" id="clientTable">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CUIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CUIT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                  @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-info edit-link" }) |

                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id }, new { @class = "btn btn-outline-danger delete-link" })

            </td>
        </tr>
    }

</table>



@*Modal*@
<div class="modal" id="modalCrear" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" >
                <h5 class="modal-title" id="modalTitle">Crear cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalCrearBody" class="modal-body">

            </div>

        </div>
    </div>
</div>

@*Notificacion*@
<div class="toast align-items-center  position-absolute p-3 top-10 start-50 translate-middle-x" id="toastNotification" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>

<script>
    function SubmitForm(form) {
        var cuit = document.getElementById('txtCuit').value;
        if (cuit.length !== 11) {
            alert('El CUIT debe tener 11 dígitos.');
            return false;
        }

        var telefono = document.getElementById('txtTelefono').value;

        if (!/^\d+$/.test(telefono)) {
            alert('El teléfono debe contener solo números.');
            return false;
        }

        var razonSocial = document.getElementById('txtRazonSocial');
        razonSocial.disabled = false;
        razonSocial.readonly = false;

        $.ajax({
            type: "POST",
            url: form.action,
            data: $(form).serialize(),
            success: function (data) {
                if (data.success) {
                    $('#modalCrear').modal('hide');

                    var toastBody = document.querySelector('.toast-body');
                    toastBody.innerText = data.message;

                    var toast = document.getElementById('toastNotification');
                    var bsToast = new bootstrap.Toast(toast);
                    var table = document.getElementById('clientTable');

                    bsToast.show();

                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }
            }

        });

        return false;
    }

    //Ajax para crear un cliente
    $(document).ready(function () {

        $("#btnCrear").click(function () {
            $.ajax({
                url: '/Cliente/Crear',
                type: 'GET',
                success: function (response) {

                    $("#modalCrearBody").html(response);
                    $('#modalCrear').modal('show');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });

    //Ajax para editar un cliente 
    $(document).ready(function () {
        $(".edit-link").click(function (e) {
            e.preventDefault(); // Evitar el comportamiento predeterminado del enlace

            var id = $(this).attr("href").split("/").pop(); // Obtener el ID de la URL

            $.ajax({
                url: '/Cliente/Edit/' + id,
                type: 'GET',
                success: function (response) {
                    $("#modalCrearBody").html(response);
                    $("#modalTitle").html('Editar cliente');
                    $('#modalCrear').modal('show');
                }
            });
        });
    });

    //Ajax para eliminar un cliente 
    $(document).ready(function () {
        $(".delete-link").click(function (e) {
            e.preventDefault(); // Evitar el comportamiento predeterminado del enlace

            var id = $(this).attr("href").split("/").pop(); // Obtener el ID de la URL

            $.ajax({
                url: '/Cliente/Eliminar/' + id,
                type: 'GET',
                success: function (response) {
                    $("#modalCrearBody").html(response);
                    $("#modalTitle").html('Eliminar cliente');
                    $('#modalCrear').modal('show');
                }
            });
        });
    });
 
    


</script>
